.app {
  background-color: white;
  color: black;
}
.header {
  margin: 20px 0px;
  display: flex;
  /* background-color: #f0f0f0; */
  justify-content: space-between;
  font-size: 20px;
  border : 2px solid black;
}
.header .logo-container > img{
    margin:0 12px;
    padding:2px;
}
.nav-items {
  padding: 0 20px;
  margin: 22px 0;
}
.header > .nav-items > ul {
  display: flex;
  align-text: center;
  justify-content: center;
}
.header > .nav-items > ul > li {
  margin: 0 21px;
  list-style: none;
  cursor: pointer;
}
.body{
    margin:2px;
}
.search {
  padding:10px;
   
}
.res-card:hover{
  border: 2px solid black;

} 
.res-card {
  padding:0 2px;
  margin:0 12px;
  padding-bottom:20px;
  width: 220px;
  height: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.res-logo {
  height: 60%;        
  width: 100%;
  object-fit: cover;
  border-bottom: 1px solid #eee;
}

.res-details {
  margin:2px;
  height: 40%;
  box-sizing: border-box;
  align-text:left;
  justify-content:center;

}

.restaurant-container{
  display:flex;
  justify-content:space-between;
}